<div class="footer">
	<div class="footer-social">
		<a target="_blank" title="Find me on LinkedIn" href="https://www.linkedin.com/in/albanodrazhi"><i class="fa fa-linkedin-square social-icon"></i></a>
		<a target="_blank" title="Find me on GitHub" href="https://github.com/albtop"><i class="fa fa-github social-icon"></i></a>
		<a target="_blank" title="Find me on twitter" href="https://twitter.com/aldrazhi"><i class="fa fa-twitter social-icon"></i></a>
		<a title="Send me an email" href="mailto:albano.drazhi@gmail.com"><i class="fa fa-envelope social-icon"></i></a>
	</div>
</div>
