<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="wrap">
        {% include masthead.html %}

        <div class="container content">
            <div class="container-home">
                <div class="left">
                    {{ content }}
                </div>
                <div class="right">
                    <h3></h3>
                    <div class="sidebar-content">
                        <img class="home-photo" alt="Albano's photo" src="/img/me.png" />
                        <p><strong>Albano Drazhi</strong></p>
                        <p>Software Security Engineer and Penetration Tester.</p>
                        <p>Currently at <a href="http://www.cybereason.com">Cybereason</a></p>
                        <p>Previously at <a href="http://www.akamai.com">Akamai</a> and <a href="http://www.https://www.rsa.com/en-us">RSA Security</a></p>
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
    {% include css.html %}
    {% include analyticstracking.html %}
</body>
</html>
