<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="wrap">
        {% include masthead.html %}

        <div class="container content">
            <div class="container-home">
                <div class="left">
                    {{ content }}
                </div>
                <div class="right">
                    <h3>Hello, world!</h3>
                    <div class="sidebar-content">
                        <img class="home-photo" alt="Albano's photo" src="/img/me.png" />
                        <p>I'm <strong>Albano Drazhi</strong></p>
                        <p>Software Security Engineer and Penetration Tester.</p>
                        <p>Besides my professional life, I like traveling, soccer, and swimming.</p>
                        <p>I'm always looking for good opportunities to work with smart people on awesome projects, so feel free to email me.</p>
                        <p class="text-center">
                            <i class="fa fa-envelope-o"></i> <a href="mailto:albano.drazhi@gmail.com">albano.drazhi@gmail.com</a> <br>
                            <i class="fa fa-key"></i> <a href="/pgp.txt">PGP Key</a>
                        </p>
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
    {% include css.html %}
    {% include analyticstracking.html %}
</body>
</html>
