---
layout: default
---

<div itemscope itemtype="http://schema.org/Article" class="post">

  <div class="post-header">
    <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
  </div>
  <hr>
  <div class="post-description">
    <span>By <a href="/about/" title="About me"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Albano Drazhi</span></span></a></span> |
    <time itemprop="datePublished" content="{{page.date | date: "%Y-%m-%d"}}" datetime="{{page.date | date: "%Y-%m-%d"}}">{{ page.date | date: "%B %e, %Y" }}</time>
  </div>
  <article itemprop="articleBody">
    {{ content }}
  </article>
</div>

{% include comments.html %}
